.addCandidateContainer {
    min-height: 20vh;
    margin-top: 1.5rem;
    padding: 3rem;
    min-width: 85vw;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.812);
    border-radius: 1rem;
}

.head {
    color: white;
    margin-bottom: 2rem;
}

.wallet {
    position: absolute;
    top: 3%;
    left: 85%;
}

.acc {
    background-color: rgba(0, 0, 0, 0.812);
    color: white;
    position: absolute;
    top: 3%;
    right: 5%;
    min-width: 6rem;
    display: flex;
    align-items: center;
    min-height: 2.5rem;
    padding: 1rem;
    border-radius: 0.5rem;

}

.submitBtn {
    margin-top: 1.5rem;
}

.file {
    color: white;
    display: block;
}

.recep {
    margin-top: 2rem;
}

.lookup {
    position: absolute;
    bottom: 5%;
    background-color: rgba(0, 0, 0, 0.775);
    min-width: 90vw;
    left: 5%;
    padding: 1rem;
    border-radius: 1rem;
}